/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-weight: normal;
  font-size: 18px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  line-height: 21px;
  text-underline-position: under;
  list-style: circle;
}

.active-link {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 24px;
  text-underline-position: under;
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 200px;
  background: url(../images/cover.jpg) no-repeat center / cover;
}

.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  gap: 20px;
  padding: 165px 50px 106px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: flex;
  flex-direction: column;
}

.text-center {
  align-items: center;
}

.text-right {
  align-items: flex-end;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 50px 50px;
}

.cover__description-text {
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0;
}

.section-title {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  padding-bottom: 30px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.lots__card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.lots__card-title {
  padding: 50px 40px 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.lots__card-description {
  padding: 0 40px 48px;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
}

.film {
  background-image: url(../images/card-lot-01.jpg);
}

.book {
  background-image: url(../images/card-lot-02.jpg);
}

.painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__more {
  padding-top: 30px;
  padding-left: 40px;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-underline-position: under;
}

.about {
  margin: 120px 24px 180px;
}

.about__logo {

}

.about__logo-image {

}

.about__article {

}

.footer {
  padding: 0 50px 82px;
}

.footer__menu {

}

.footer__links {

}

.link-logo {

}